/* Estilos gerais */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F5F5DD;
    color: #050505;
    line-height: 1.6;
}

h1, h2 {
    color: #C91027;
}
h3 {
    color: #ffffff

}


a {
    text-decoration: none;
    color: #C91027;
}

a:hover {
    color: #E27B58;
}

#link-Rodape {
    color:#ffffff 
}
#link-Rodape:hover{
    color:#E27B58
}

.btn-default {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #C91027;
    border-radius: 12px;
    padding: 10px 14px;
    font-weight: 600;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    color:#fff;
    cursor: pointer;
    transition: background-color .3s ease;
}

.btn-default:hover {
    background-color:#E27B58;

}

/* Cabeçalho */

header{
    width: 100%;
    padding: 28px 8%;
    background-color: #fefefe;    
}

#navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav_logo {
    width: 10%;
}

#nav_list {
    display: flex;
    list-style: none;
    gap: 48px;
}

.nav-item a {
    text-decoration: none;
    color: #1d1d1dad;
    font-weight: 600;
}

.nav-item.active a {
    color: #1d1d1d;
    border-bottom: 3px solid #C91027;
}

#mobile_btn {
    display: none;
}

#mobile_menu {
    display: none;
}

/*
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #C91027;
    padding: 20px 30px;
    text-align: center;
}

header .logo img {
    height: 50px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    font-size: 18px;
    color: white;
    font-weight: bold;
}

nav ul li a:hover {
    color: #E27B58;
}

nav ul li .btn {
    background-color: #E27B58;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    color: white;
}

nav ul li .btn:hover {
    background-color: #C91027;
}
    */

/* Seção Principal */
#home {
    background-color: #D7C2AE;
    color: white;
    padding: 60px 20px;
    text-align: center;
    background-image: url('fundo_bem_vindo.jpg');
    background-size: cover;
    background-position: center;
}

.welcome {
    max-width: 800px;
    margin: 0 auto;
}

.welcome h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.welcome p {
    font-size: 20px;
    margin-bottom: 30px;
}

.btn {
    background-color: #E27B58;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    display: inline-block;
}

.btn:hover {
    background-color: #C91027;
}

/* Seções */
section {
    padding: 40px 20px;
    background-color: #EFE6DB;
    margin: 20px 0;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.actions {
    display: flex;
    justify-content: space-between;
}

.action {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 30%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.action h3 {
    font-size: 24px;
    margin-bottom: 15px;
}

/* Rodapé */
footer {
    background-color: #C91027;
    color: white;
    text-align: center; 
    padding: 20px 40px;
    position: relative;
}

footer .footer-content {
    display: flex;
    justify-content: space-between; 
    align-items: center; /* p ficar vertical */
    flex-wrap: wrap; 
    width: 100%;
    max-width: 1200px; 
    margin: 0 auto; 
}

footer .address {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    margin: 0 20px;
    font-size: 18px;
}

footer .address p {
    margin: 5px 0;
}

footer .address i {
    margin-right: 10px;
}

/* Ícones das Redes Sociais (Centro) */
footer .social-media {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
}

footer .social-media a {
    font-size: 60px;
    color: white;
    transition: color 0.3s ease, transform 0.3s ease-in-out;
}

footer .social-media a:hover {
    color: #E27B58;
    transform: scale(1.2);
}

/* GitHub Links (Direita) */
footer .github-links {
    text-align: right;
    margin: 0 20px;
}

footer .github-links a {
    display: block;
    color: white;
    margin: 10px 0;
    text-decoration: none;
    font-weight: bold;
}

footer .github-links a:hover {
    color: #E27B58;
}

/* Contêiner da imagem personalizada */
.custom-image {
    position: absolute;
    bottom: 0px;
    right: 100px;
    width: 320px;
    height: 320px;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
    z-index: 10;
}
footer .custom-image img {
    width: 10;
    height: 10;
    border-radius: 0%; 
    object-fit: cover; 
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5)); 
}

/* iconezinho do google maps */
.map-icon {
    position: absolute;
    top: 18px;
    left: 665px;
    color: #ffffff; 
    font-size: 24px; 
    text-decoration: none; 
    margin-left: 10px; 
    transition: transform 0.3s ease, color 0.3s ease; 
}

.map-icon:hover {
    color: #E27B58; 
    transform: scale(1.2); 
}


/* Responsividade */
@media (max-width: 768px) {

    #nav_list,
    #navbar .btn-default {
        flex-direction: column;
        align-items: center;
    }

    #nav_logo {
        width: 30%
    }

   
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    .actions {
        flex-direction: column;
    }

    .action {
        width: 100%;
        margin-bottom: 20px;
    }

    footer .footer-content {
        flex-direction: column;
        text-align: center;
    }

    footer .address, footer .github-links {
        align-items: center;
        margin: 10px 0;
    }

    footer .social-media {
        margin: 20px 0;
    }
}

